extends layout

block content
  .page-header

    .container
      .row
        .col-xs-4(style="text-align:center;")
          a(class="btn btn-success", href='/uploadImage') Upload New Image
        .col-xs-4(style="text-align:center;")
          a(class="btn btn-success", href='/categories') Edit Categories
        .col-xs-4(style="text-align:center;")
          a(class="btn btn-success", href='/pricing') Edit Pricing
      .row
        .col-xs-4(style="text-align:center;")
          a(class="btn btn-success", href='/uploadImage') Change background Image
        .col-xs-4(style="text-align:center;")
          a(class="btn btn-success", href='/uploadImage') Edit Users
        .col-xs-4(style="text-align:center;")
          a(class="btn btn-success", href='/uploadImage') Change Contact Details