extends layout

block content
    .Containter(style="width:100;background:transparent;text-align:center;margin-top: 5%;")
        .HomeContent(style="background:grey;width:auto;display:inline-block;margin:0 auto;")
            h2 Welcome to Jackie Fotografie
            p 
                | Please see our 
                a(href='/viewprices') Pricing page
                |  for our prices on different Photoshoots.
            p You can also feel free to contact me on 084 508 8648 (Jackie)
        #fb-root
			script.
				window.fbAsyncInit = function() {
				FB.init({
				appId      : '806135469544692',
				xfbml      : true,
				version    : 'v2.9'
				});
				FB.AppEvents.logPageView();
				};
				(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1&version=v2.9&appId=806135469544692";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			.fb-page(data-href="https://www.facebook.com/jackiefotografie/", data-tabs="timeline", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true", data-width="800")
				blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/jackiefotografie/")
					a(href="https://www.facebook.com/jackiefotografie/") Jackie fotografie
			.fb-like(data-share="true", data-width="800", data-show-faces="true")