extends layout

block content
    .Containter(style="width:100;background:transparent;text-align:center;margin-top: 5%;")
        .HomeContent(style="background:grey;width:auto;display:inline-block;margin:0 auto;")
            h2 Welcome to Jackie Fotografie
            p 
                | Please see our 
                a(href='/viewprices') Pricing page
                |  for our prices on different Photoshoots.
            p You can also feel free to contact me on 084 508 8648 (Jackie)
        br
        br
        #fb-root(style="width:500px;display:block;margin:0 auto;")
            .fb-page(style="border-radius:20px;",data-href="https://www.facebook.com/jackiefotografie/", data-tabs="timeline", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true", data-width="500")
                blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/jackiefotografie/")
                    a(href="https://www.facebook.com/jackiefotografie/") Jackie fotografie