extends layout

block content
    .Containter(style="width:100;background:transparent;text-align:center")
        .HomeContent(style="background:grey;width:auto;display:inline-block;margin:0 auto;")
            h2 Welcome to Jackie Fotografie
            p Please see our Pricing page for our prices on different Photoshoots.
            p You can also feel free to contact me on 084 508 8648 (Jackie)