extends layout

block content
    .Containter(style="width:100;background:transparent;text-align:center")
        .HomeContent(style="background:grey;width:auto;display:inline-block;margin:0 auto;")
            p Welcome to Jackie Fotografie