extends layout

block(style="text-align:center") content
    .HomeContent(style="background:grey;width:auto;display:inline-block;margin:0 auto;text-align: center;")
        p Welcome to Jackie Fotografie