extends layout

block content
        .row
        table.table-fill
            tr.col-xs-12
                td.col-xs-4.text-center Shoot Type
                td.col-xs-4.text-center Price
                td.col-xs-4.text-center Time
                td.col-xs-3.text-center Button
            for item in priceList
                tr.col-xs-12
                    td.col-xs-4.text-center=item.ShootType
                    td.col-xs-4.text-center=item.Price
                    td.col-xs-4.text-center=item.Time
                    td.col-xs-4.text-center
                        a.btn.btn-success Edit
        p
        a.btn.btn-success(href="/addNewPrice") Add New                        