extends layout

block content

	#fb-root
			script.
				window.fbAsyncInit = function() {
				FB.init({
				appId      : '806135469544692',
				xfbml      : true,
				version    : 'v2.9'
				});
				FB.AppEvents.logPageView();
				};
				(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=806135469544692";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			.fb-page(data-href="https://www.facebook.com/jackiefotografie/", data-tabs="timeline", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
				blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/jackiefotografie/")
					a(href="https://www.facebook.com/jackiefotografie/") Jackie fotografie
			.fb-like(data-share="true", data-width="450", data-show-faces="true")