extends layout

block content
  .page-header

    .container
      .row
        .col-xs-1
          label(style='margin-top:10%;') Category
        .col-xs-11(style='padding-bottom:20px;')
          select.selectpicker(data-style='btn-success',name="SelectedCategory")
            for item in categoryList
              option(value=item.category_no) #{item.category_name} 
        .col-xs-1
        .col-xs-6(style='padding-bottom:20px;')
          input(type="checkbox", name="NewMainImage", id="NewMainImage")
          |  Make main page image
        .col-xs-12
          .panel.panel-default
            .panel-body
              span.glyphicon.glyphicon-cloud-upload(style='margin-left:50%;')
              h2(style='margin-left:45%;') File Uploader
              .progress
                .progress-bar(role='progressbar')
              button.btn.btn-lg.upload-btn(type='button',style="border-raduis:15px;margin-left:47%;") Upload File
    input#upload-input(type='file', name='uploads[]')
      