extends layout

block content
    #sliderFrame
      #slider
        img#PricingImage
      .group1-Wrapper
        a.group1-Prev(onclick='imageSlider.previous()')
        a.group1-Next(onclick='imageSlider.next()')
      div(style='text-align:center;padding:20px;z-index:20;')
        a.group2-Prev(onclick='imageSlider.previous()')
        a#auto(onclick='switchAutoAdvance()')
        a.group2-Next(onclick='imageSlider.next()')
