extends layout

block content
    #sliderFrame(style="background: transparent;")
      button#btnPrev.btn(onclick='PreviousImage()', style='width:100px') Previous
      |  
      button#btnNext.btn(onclick='NextImage()', style='width:100px;') Next
      |
      #SliderProgress
        label#lblProgress 1 of 8
      br
      br
      #slider
        img#PricingImage(src='', style="max-width:100%")
      div(style='text-align:center;padding:20px;z-index:20;')
        a.group2-Prev(onclick='PreviousImage()')
        a#auto(onclick='PausePlay())')
        a.group2-Next(onclick='NextImage()')

    #loaderModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            p(style='text-align:center;')
              img(src='loader.gif', alt='loading...', title='loading...')   
    script(src='/js/custom-slider.js', type='text/javascript')     